<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://download1526.mediafire.com/ebx4mi20izgg6FgHIWLQThp5Gv5rOO55jgXNnbK2PWoT31gplgCrSJTXRbyQgWQ3uKwKFFTmsMM30vdIh6E39ELz5pKvNXs1j66J_i2zUiuKa1CinjW-U1M2Gmafa8F3YGeHcS1eHqWQmXz9TMV4o1bulqRwWTRRiW3ThzwCipYR2Q/jx41xa695q60fe0/signed-1748191628393.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://project0earth0not0official0account.github.io/Ios-installing-ipa/JB60x60.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.coolstar.odyssey</string>
                <key>bundle-version</key>
                <string>6.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Odyssey</string>
                
                <!-- Добавленные поля из bplist -->
                <key>minimum-os-version</key>
                <string>13.0</string>
                <key>supported-platforms</key>
                <array>
                    <string>iPhoneOS</string>
                </array>
                <key>UIRequiredDeviceCapabilities</key>
                <array>
                    <string>arm64</string>
                </array>
                <key>UIUserInterfaceStyle</key>
                <string>Dark</string>
                <key>UISupportedInterfaceOrientations</key>
                <array>
                    <string>UIInterfaceOrientationPortrait</string>
                    <string>UIInterfaceOrientationLandscapeLeft</string>
                    <string>UIInterfaceOrientationLandscapeRight</string>
                </array>
                <key>UISupportedInterfaceOrientations~ipad</key>
                <array>
                    <string>UIInterfaceOrientationPortrait</string>
                    <string>UIInterfaceOrientationPortraitUpsideDown</string>
                    <string>UIInterfaceOrientationLandscapeLeft</string>
                    <string>UIInterfaceOrientationLandscapeRight</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
