<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/BlizzardPizza/checkra1n/releases/download/1.0/checkra1n.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://project0earth0not0official0account.github.io/ios-installing-ipa/icon.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://project0earth0not0official0account.github.io/ios-installing-ipa/icon@2x.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://project0earth0not0official0account.github.io/ios-installing-ipa/icon@3x.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.blizzard.checkra1n</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>platform-identifier</key>
                <string>com.apple.platform.iphoneos</string>
                <key>title</key>
                <string>checkra1n</string>
                <key>minimum-os-version</key>
                <string>10.0</string>
                <key>device-family</key>
                <array>
                    <integer>1</integer> <integer>2</integer> </array>
                <key>supported-orientations</key>
                <array>
                    <string>UIInterfaceOrientationPortrait</string>
                </array>
                <key>supported-orientations-ipad</key>
                <array>
                    <string>UIInterfaceOrientationPortrait</string>
                    <string>UIInterfaceOrientationPortraitUpsideDown</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
