<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://download1072.mediafire.com/b851qotfzthgvN6ehqmIQkpqim46jDD3B9bbRQFFA_yecOviyFgdJwIvrXz45aVcynEKa5tZ5iIlMiHhDvCh8IQP6EIm7U6khYe5vwd6c0bkysQx6nk7yIw3iBYPcl_SF7AnUW54XNFoXl_99xJaFiOJgxV7f7XI9jMx7Uxs0INb_w/hj5u3u99anb8u65/ipa.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.mojang.minecraftearthtf</string> <key>bundle-version</key>
                <string>0.33.0</string> <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Project Earth</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
